<footer>
	<div class="wrapper wrapper-large">
		<div class="footer-links">
			<div class="about">
				{% include navigation/logo.html %}
				<p>Pullnfit.ru – сервис по продаже персоналок за 7 сек. +Веб-сайт с онлайн-программой в подарок.</p>
			</div>
			<ul>
				<li><h4>Pullnfit</h4></li>
				<li><a href="/features/">Преимущества</a></li>
				<li><a href="/pricing/">Цена</a></li>
				<li><a href="/blog/">Блог</a></li>
				<li><a href="/about/">О нас</a></li>
				<li><a href="/careers/">Карьера</a></li>
			</ul>
			<ul>
				<li><h4>Помощь</h4></li>
				<li><a href="/experts/">Эксперты</a></li>
				<li><a href="/contact/">Контакты</a></li>
				<li><a href="https://goo.gl/forms/ifjA93ez6YH9OGm12">Отдел продаж</a></li>
				<li><a href="https://goo.gl/forms/hvNP9Ng1vuaYhM0h2">Отдел по работе <br>с партнерами</a></li>
			</ul>
			<ul>
				<li><h4>Сервис</h4></li>
				<li><a href="https://www.google.com/intl/ru/calendar/about/">Календарь</a></li>
				<li><a href="#">Браслет</a></li>
				

			</ul>
			<ul class="contact">
				<li><h4>Связаться с нами</h4></li>
				<li><a href="mailto:rahimtoy@gmail.com">rahimtoy@gmail.com</a></li>
				<li class="social">
					<a class="vkontakte" href="https://vk.com/pullnfit">{% include svgs/social-icon.html icon="vkontakte" %}</a>
					<a class="instagram" href="https://www.instagram.com/pullnfit">{% include svgs/social-icon.html icon="instagram" %}</a>
					<a class="twitter" href="https://twitter.com/pullnfit">{% include svgs/social-icon.html icon="twitter" %}</a>
					<a class="facebook" href="https://www.facebook.com/pullnfit">{% include svgs/social-icon.html icon="facebook" %}</a>
					<a class="google-plus" href="https://plus.google.com/+pullnfit">{% include svgs/social-icon.html icon="google-plus" %}</a>
					<a class="youtube" href="https://www.youtube.com/c/pullnfit">{% include svgs/social-icon.html icon="youtube" %}</a>
				</li>
			</ul>

			<div class="filler"></div>
		</div>
	</div>

	<div class="legal-line">
		<p class="wrapper wrapper-large">
			&copy; {{ site.time | date: '%Y' }} Pullnfit &bull;
			<a href="#">Условия</a> &amp;
			<a href="#">Конфиденциальность</a>
		</p>
	</div>
</footer>
