<!--googleoff: index-->
<div class="workflow">
	<h5>День 1</h5>
	<ul>
		<li>
			<div class="image editor"></div>
			<div class="commit">
				<h6>Разминка</h6>
				<p>Легкий бег - 6-8 мин</p>
			</div>
		</li>
		<li>
			<div class="image editor">{% include svgs/logo.html logo="emblem" %}</div>
			<div class="commit">
				<h6>Упражнения на гибкость</h6>
				<p>Шейный, плечевой, тазабедренный отделы - 10-15 мин</p>
			</div>
		</li>
		<li>
			<div class="image editor">{% include svgs/logo.html logo="emblem" %}</div>
			<div class="commit">
				<h6>Пресс</h6>
				<p>Лежа на спине, руки вверху - 15 раз</p>
			</div>
		</li>
		<li>
			<div class="image editor">{% include svgs/logo.html logo="emblem" %}</div>
			<div class="commit">
				<h6>Спина</h6>
				<p>Лежа на животе, руки вверху - 20 раз</p>
			</div>
		</li>
	</ul>
</div>
<!--googleon: index-->
