<!--googleoff: index-->
<div class="workflow">
	<h5>День 1</h5>
	<ul>
		<li>
			<div class="image editor"></div>
			<div class="commit">
				<h6>Совещание по проектам</h6>
				<p>Отчет, Серега</p>
			</div>
		</li>
		<li>
			<div class="image editor"></div>
			<div class="commit">
				<h6>Встреча за обедом</h6>
				<p>Хаб на Изумрудном</p>
			</div>
		</li>
		<li>
			<div class="image editor">{% include svgs/logo.html logo="emblem" %}</div>
			<div class="commit">
				<h6>Тренировка. День 1</h6>
				<p>FitnesHall на Пр. Октября</p>
			</div>
		</li>
		<li>
			<div class="image editor">{% include svgs/logo.html logo="emblem" %}</div>
			<div class="commit">
				<h6>Позвонить Маше</h6>
				<p>Участие в проекте</p>
			</div>
		</li>
	</ul>
</div>
<!--googleon: index-->
