---
layout: info-page
title: О нас
permalink: /about/
---

<div class="about">
	<h1>Pullnfit - это новый способ оздоровления нации.</h1>

	<h2>Что нами двигает</h2>
	<p>Наша миссия состоит в том, чтобы объдинить все преимущества нового подхода в оздоровлении нации, давая населению персонализированные программы тренировок. Мы считаем, что планы тренировок должны подбираться персонально для каждого, то есть учитывать физиологичесикие особенности и быть адаптивными.</p>

	<h2>Наша команда</h2>
	<p>Основанная в Уфе (Россия) и теперь обслуживающая клиентов со всего мира. Наша команда увлечена тем, что мы делаем все возможное, чтобы изменить существующий способ оздоровления нации.</p>

	<ul class="mugs">
		{% for person_obj in site.data.authors %}
			{% assign person = person_obj[1] %}
			{% if person.position %}
				<li>
					<div class="image"><img src="{{ person.image }}" alt="{{ person.name }}"></div>
					<p>{{ person.name }}</p>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
