---
layout: info-page
title: О нас
permalink: /about/
---

<div class="about">
	<h1>Pullnfit - это новый способ повлиять на отношение людей к фитнесу, физкультуре и спорту.</h1>

	<h2>Что нами двигает?</h2>
	<p>Наша миссия состоит в том, чтобы сделать фитнес, физкультуру и спорт немного прозрачным и доступным. Мы считаем, этого можно добиться за счет использования нейросети в области учета и подбора индивидуальных программ тренировок и питания.</p>

	<h2>Наша команда</h2>
	<p>Основанная в Уфе (Россия) и теперь обслуживающая клиентов со всего мира, наша команда увлечена тем, что делает все возможное, чтобы дать возможность каждому тренироваться правильно.</p>

	<ul class="mugs">
		{% for person_obj in site.data.authors %}
			{% assign person = person_obj[1] %}
			{% if person.position %}
				<li>
					<div class="image"><img src="{{ person.image }}" alt="{{ person.name }}"></div>
					<p>{{ person.name }}</p>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
