---
title: Преимущества
heading: Сотрудничество с нами имеет свои преимущества
subtitle: Реализуйте подход, о котором мечтает любой учитель/тренер, <br> когда каждый ученик/клиент занимается по индивидуальной программе. 
layout: short
permalink: /features/
---
<ul class="workflow-diagram">
	<li>
		<i class="material-icons">web</i>
		<p>Свой сайт + продвижение</p>
	</li>
	<li>
		<i class="material-icons">blur_on</i>
		<p>Онлайн-программа</p>
	</li>
	<li>
		<i class="material-icons">attach_money</i>
		<p>Хорошие деньги</p>
	</li>
</ul>

<div class="feature-content">
	<h2>Персональный сайт</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="domain" title="Пользовательский домен" content="Использование личного домена, например pullnfit.ru, помогает сформировать доверие к вашему бренду и повысить его узнаваемость." %}

		{% include components/features/data-block.html icon="cloud_done" title="Бесплатный хостинг" content="Хостинг нужен для размещения файлов сайта в сети Интернет и обойдется вам в 4788 руб за 1 год (399 руб в месяц)." %}

		{% include components/features/data-block.html icon="https" title="Бесплатный SSL-сертификат" content="Это сертификат безопасности вашего сайта и стоит он 1523 руб на один год." %}
	</ul>

	<h2>Комплексное продвижение сайта</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="text_format" title="Составление семантического ядра" content="Для продвижения сайта мы создаем семантическое ядро, включающее преимущественно низкочастотные запросы." %}

		{% include components/features/data-block.html icon="settings_overscan" title="Внутреняя оптимизация сайта" content="Работаем над требованиями поисковых систем, чтобы вы не теряли трафик из Google и Яндекса." %}
		
		{% include components/features/data-block.html icon="share" title="Создание и распространение контента" content="Создаем и публикуем много контента – полезного, качественного, дающего максимально подробный ответ на запрос пользователя." %}
	</ul>

	<h2>Онлайн-программа</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="perm_contact_calendar" title="Составление тренировочных программ" content="Составляем индивидуальные тренировочные программы и синхронизируем с календарем, чтобы клиентам было удобно." %}

		{% include components/features/data-block.html icon="swap_vertical_circle" title="Корректировка программ" content="Если клиент пропускает тренировку, программа перестраивается автоматически." %}
		
		{% include components/features/data-block.html icon="track_changes" title="Контроль занятий и отдыха" content="Мы отслеживаем активность, чтобы своевеменно внести изменения в программу тренировок." %}

		{% include components/features/data-block.html icon="thumb_up" title="Мотивация клиентов на действия" content="У клиентов есть возможность вернуть до 50% оплаченной суммы." %}
	</ul>
	
	<h2>Дополнительный доход</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="monetization_on" title="Продажа персоналок" content="С каждой проданной персоналки тренер получает долю в соответствии с индивидуальной программой в зависимости от города." %}

		{% include components/features/data-block.html icon="redeem" title="Бонусы" content="Бонус за привлечение тренеров - 1000 руб. При условии, что новый тренер выполнит 20 персоналок." %}
	</ul>
</div>

<script src="/js/features.js"></script>
