---
title: Преимущества
heading: Мы предлагаем вам стать круче
subtitle: Реализуйте подход, о котором мечтает любой тренер, <br> когда каждый клиент занимается по индивидуальной программе. 
layout: short
permalink: /features/
---
<ul class="workflow-diagram">
	<li>
		<i class="material-icons">web</i>
		<p>Свой сайт и его продвижение</p>
	</li>
	<li>
		<i class="material-icons">blur_on</i>
		<p>Онлайн-программа</p>
	</li>
	<li>
		<i class="material-icons">attach_money</i>
		<p>Хорошие деньги</p>
	</li>
</ul>

<div class="feature-content">
	<h2>Разработка сайта</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="domain" title="Пользовательский домен" content="Заполните гугл-форму, чтобы максимально учесть особенности вашего организма." %}

		{% include components/features/data-block.html icon="cloud_done" title="Бесплатный хостинг" content="Когда вы заполните гугл-форму, программа будет добавлена в ваш календарь автоматически." %}

		{% include components/features/data-block.html icon="https" title="Бесплатный SSL-сертификат" content="Видео и картинки делают вашу программу более яркой и помогают быстрее ориентироваться в упражнениях." %}
	</ul>

	<h2>Комплексное продвижение сайта</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="text_format" title="Составление семантического ядра" content="Мы отслеживаем активность, чтобы своевеменно внести изменения в программу тренировок, с одной стороны, и, чтобы расчитывать мотивацию, с другой." %}

		{% include components/features/data-block.html icon="settings_overscan" title="Внутреняя оптимизация сайта" content="Контроль отдыха также является частью мотивационной схемы." %}
		
		{% include components/features/data-block.html icon="content_paste" title="Создание и распространение контента" content="Контроль отдыха также является частью мотивационной схемы." %}
	</ul>

	<h2>Онлайн-программа</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="monetization_on" title="Составление тренировочных программ" content="У вас есть возможность вернуть до 50% оплаченной суммы за бесперебойное выполнение условий программы." %}

		{% include components/features/data-block.html icon="redeem" title="Корректировка тренировочных программ" content="У вас есть шанс получить крутые подарки от компании за особые достижения." %}
		
		{% include components/features/data-block.html icon="monetization_on" title="Контроль занятий и отдыха" content="У вас есть возможность вернуть до 50% оплаченной суммы за бесперебойное выполнение условий программы." %}

		{% include components/features/data-block.html icon="redeem" title="Мотивация клиентов на действия" content="У вас есть шанс получить крутые подарки от компании за особые достижения." %}
	</ul>
	
	<h2>Варианты заработка</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="monetization_on" title="Продажа тренировочных программ" content="У вас есть возможность вернуть до 50% оплаченной суммы за бесперебойное выполнение условий программы." %}

		{% include components/features/data-block.html icon="redeem" title="Привлечение тренеров" content="У вас есть шанс получить крутые подарки от компании за особые достижения." %}
	</ul>
</div>

<script src="/js/features.js"></script>
