---
title: Как это работает
heading: Как это работает
subtitle: Этот вопрос часто вызывает путаницу. Вот быстрое объяснение! 
layout: short
permalink: /how-it-works/
---
<ul class="workflow-diagram">
	<li>
		<i class="material-icons">filter_1</i>
		<p>Заполняете гугл-форму <br>на сайте</p>
	</li>
  	<li>
		<i class="material-icons">filter_2</i>
		<p>Получаете ссылку <br>на приложение</p>
	</li>
  	<li>
		<i class="material-icons">filter_3</i>
		<p>Качаете приложение, <br>авторизуетесь</p>
	</li>
	<li>
		<i class="material-icons">filter_4</i>
		<p>Получаете доступ <br>к программе</p>
	</li>
  	<li>
		<i class="material-icons">filter_5</i>
		<p>Оплачиваете подписку <br>на мес/год</p>
	</li>
 	<li>
		<i class="material-icons">filter_6</i>
		<p>Получаете браслет <br>по почте</p>
	</li>
  	<li>
		<i class="material-icons">filter_7</i>
		<p>Занимаетесь согласно <br>программе</p>
	</li>
  	<li>
		<i class="material-icons">filter_8</i>
		<p>Возвращаете до 50% <br>оплаты</p>
	</li>
</ul>

<div class="feature-content">
	<h2>Индивидуальная программа тренировок</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="assignment" title="Анкетирование" content="Заполните гугл-форму, чтобы максимально учесть особенности вашего организма." %}

		{% include components/features/data-block.html icon="sync" title="Синхронизация" content="Когда вы заполните гугл-форму, программа будет добавлена в ваш календарь автоматически." %}

		{% include components/features/data-block.html icon="video_library" title="Наглядность" content="Видео и картинки делают вашу программу более яркой и помогают быстрее ориентироваться в упражнениях." %}
		
		{% include components/features/data-block.html icon="event_available" title="Адаптация" content="Если вы пропустили тренировку, программа перестроится автоматически." %}
	</ul>

	<h2>Контроль регулярности занятий</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="fitness_center" title="Активность" content="Мы отслеживаем активность, чтобы своевеменно внести изменения в программу тренировок, с одной стороны, и, чтобы расчитывать мотивацию, с другой." %}

		{% include components/features/data-block.html icon="spa" title="Отдых" content="Контроль отдыха также является частью мотивационной схемы." %}
	</ul>

	<h2>Мотивация за выполнение программы</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="monetization_on" title="Возврат" content="У вас есть возможность вернуть до 50% оплаченной суммы за бесперебойное выполнение условий программы." %}

		{% include components/features/data-block.html icon="redeem" title="Призы" content="У вас есть шанс получить крутые подарки от компании за особые достижения." %}
	</ul>
</div>

<script src="/js/features.js"></script>
