---
layout: main-landing
title: Онлайн-программа для тренировок
permalink: /
cta: "landing_page"
sitemap:
  changefreq: daily
  priority: 0.8
header_class: "landing"
---
<div class="landing-page-content">
  {% include components/home-page/content-image.html image="workflow" heading="Подходит для вашего рабочего процесса" content_markdown="Синхронизируйте Adroholic со своим календарем. Вы получаете индвидуальный план тренировок, который совместим с вашим календарем и вам совершенно необязательно качать еще одно приложение." storage_provider_icons=true %}

  {% include components/home-page/content-image.html image="editing" heading="План, который подходит только вам" content_markdown="Когда вы заполняете анкету, вы получаете план тренировок, который учитывает не только ваши предпочтения, но и особенности вашего организма." %}

  {% include components/home-page/content-image.html image="tools" heading="Мотивация за выполнение плана" content_markdown="Выполняете план, получаете проценты от оплаченной суммы." %}
</div>

{% assign case = site.case_studies | where: "name", "Netflix" | first %}
{% include components/case-study/quote.html case=case %}



