---
layout: main-landing
title: Сервис по продаже персоналок за 7 сек. +Веб-сайт с онлайн-программой в подарок.
permalink: /
cta: "landing_page"
sitemap:
  changefreq: daily
  priority: 0.8
header_class: "landing"
---
<div class="landing-page-content">
  {% include components/home-page/content-image.html image="workflow" heading="Заработок" content_markdown="Во-первых, таким образом тренер больше зарабатывает.  %}

  {% include components/home-page/content-image.html image="editing" heading="Мотивации" content_markdown="Во-вторых, у таких клиентов мощная мотивация за счет специальной схемы, по которой они могут вернуть часть оплаты." %}

  {% include components/home-page/content-image.html image="tools" heading="Рекомендативный фактор" content_markdown="В-третьих, рекомендативный фактор таких клиентов выше из-за более быстрого и заметного результата." %}
  
</div>

{% assign case = site.case_studies | where: "name", "Netflix" | first %}
{% include components/case-study/quote.html case=case %}



