---
layout: main-landing
title: Сервис по продаже персоналок за 7 сек. +Веб-сайт с онлайн-программой в подарок.
permalink: /
cta: "landing_page"
sitemap:
  changefreq: daily
  priority: 0.8
header_class: "landing"
---
<div class="landing-page-content">
  {% include components/home-page/content-image.html image="workflow" heading="Свой веб-сайт" content_markdown="Во-первых, таким образом тренер больше зарабатывает.  %}

  {% include components/home-page/content-image.html image="editing" heading="Онлайн-программа" content_markdown="Составить программу тренировок; контролировать регулярность занятий и если что, скорректировать программу; дать дополнительную мотивацию - все это будет на плечах вашей онлайн-программы." %}

  {% include components/home-page/content-image.html image="tools" heading="Хорошие деньги" content_markdown="Получайте еженедельный гонорар лишь за то, что помогаете клиентам добиваться более быстрого и заметного результата за счет индивидуальных тренировочных программ и мощной мотивации." %}
  
</div>

{% assign case = site.case_studies | where: "name", "Netflix" | first %}
{% include components/case-study/quote.html case=case %}



