---
layout: short
heading: Выберите своего охотника
subtitle: Платите только за продвижение.
title: Цены
permalink: /pricing/
---
<div class="period">
	<div class="toggle-buttons">
		<a class="button light no-border dark-hover selected monthly" href="#">Ежемесячно</a><a class="button light no-border dark-hover annually" href="#">Ежегодно</a>
	</div>
</div>

<ul class="plans">
	{% for plan in site.data.plans %}
		{% include components/pricing/plan.html plan=plan %}
	{% endfor %}
</ul>


<section class="faq">
	<h2 id="faq">FAQ</h2>

	<ul class="cards">
		{% include components/pricing/faq.html q="Могу ли я попробовать бесплатно?" a="Да, конечно. Для этого вам нужно выбрать тариф Kitty." %}

		{% include components/pricing/faq.html q="Что входит в бесплатную версию?" a="Описание тарифов вы можете уточнить на <a href='https://pullnfit.ru/pricing/'>сайте</a>." %}

		{% include components/pricing/faq.html q="Могу ли я поменять тариф?" a="Да. Напишите в <a href='mailto:rahimtoy@gmail.com'>службу поддержки</a>." %}

		{% include components/pricing/faq.html q="Могу ли я использовать тренировочную программу совместно?" a="Нет. Совместное использование не допускается." %}

		{% include components/pricing/faq.html q="Принимаете ли вы пожелания?" a="Да, мы внимательно прислушиваемся к нашим клиентам. Если у вас есть запросы или отзывы, пожалуйста, обратитесь в <a href='mailto:rahimtoy@gmail.com'>службу поддержки</a>." %}
	</ul>
</section>
<script src="/js/pricing.js"></script>
