---
layout: default
---

<header class="{{ page.header_class }}">
	{% include navigation/top.html %}
	{% include components/hero/main.html image="" heading="Проводите каждую тренировку с пользой." subtitle="Сервис по подбору индивидуальных планов тренировок прямо в календарь." button="Попробовать бесплатно" video="gpmWyZvOU3g" %}
</header>

{{ content }}

{% include components/cta/main.html text="Присоединяйтесь к тысячам счастливчиков, которые уже тренируются по собственному плану" button="Попробовать бесплатно" %}
