---
layout: default
---

<header class="{{ page.header_class }}">
	{% include navigation/top.html %}
	{% include components/hero/main.html image="" heading="Подбор тренировочных программ" subtitle="Подбор индивидуальных тренировочных программ для фитнес-тренеров, <br>спортивных тренеров и учителей физкультуры. <br>+Веб-сайт с продвижением в подарок." button="Попробовать бесплатно" video="gpmWyZvOU3g" %}
</header>

{{ content }}

{% include components/cta/main.html text="Станьте партнером Pullnfit и получите свой сайт уже сегодня" button="Стать партнером" %}
