---
layout: default
---

<header class="{{ page.header_class }}">
	{% include navigation/top.html %}
	{% include components/hero/main.html image="" heading="Устали продавать персоналки?" subtitle="Станьте партнером Pullnfit и начните получать мотивированных клиентов бесплатно." button="Стать партнером" video="gpmWyZvOU3g" %}
</header>

{{ content }}

{% include components/cta/main.html text="Станьте партнером Pullnfit и начните получать мотивированных клиентов уже на этой неделе" button="Стать партнером" %}
